google-api-python-client==2.98.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.6.0
huggingface-hub==0.16.4
transformers==4.32.0
torch==2.1.0
speechrecognition==3.8.1
pyaudio==0.2.11
python-dotenv==1.0.0
vosk==0.3.32  
pandas
sentence-transformers
faiss-cpu
